@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: linear-gradient(120deg, #9500FF, #FF4200);
    background-repeat: no-repeat;
}

.text-gradient {
    background-image: linear-gradient(120deg, #9500FF, #FF4200);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: border;
    -moz-text-fill-color: transparent;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.62);
    border-radius: 1000px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.80);
}

.top-scroll {
    transform:rotateX(180deg);
    -moz-transform:rotateX(180deg); /* Mozilla */
    -webkit-transform:rotateX(180deg); /* Safari and Chrome */
    -ms-transform:rotateX(180deg); /* IE 9+ */
    -o-transform:rotateX(180deg);
}

@layer utilities {

}
